{
  "Metadata": {
    "Version": "1.0",
    "LastUpdatedUtc": "2024-02-17T07:58:24.011386Z",
    "Availability": null
  },
  "Info": {
    "Name": "Test Policy"
  },
  "Profiles": {
    "Development": {
      "Shell": {
        "IsFeedbackEnabled": true,
        "HideGettingStartedScreen": false,
        "RequireUserPublish": {
          "PermittedConsecutiveRuns": null,
          "DialogMessage": null,
          "LogToQueue": {
            "QueueName": null,
            "QueueFolder": null
          }
        }
      },
      "SourceControl": {
        "PublishSourceControlInfoParam": {
          "AllowEdit": true,
          "Value": null
        },
        "CheckInBeforePublishParam": {
          "AllowEdit": true,
          "Value": false
        },
        "RepositoriesConfigParam": {
          "AllowEdit": true,
          "Value": {
            "AllowSaveLocal": null,
            "AllowEditRepositories": null,
            "Repositories": [
              {
                "SourceControlType": 0,
                "Name": null,
                "Url": null,
                "DefaultFolder": null
              }
            ]
          }
        }
      },
      "Workflow": {
        "DefaultProjectLanguageParam": {
          "Value": "VisualBasic",
          "AllowEdit": true
        },
        "DefaultProjectFrameworkParam": {
          "Value": "Modern",
          "AllowEdit": true
        },
        "AllowedProjectFrameworks": {
          "Classic": true,
          "Modern": true,
          "CrossPlatform": true
        },
        "DockedAnnotationsParam": {
          "AllowEdit": true,
          "Value": true
        },
        "ShowDataManagerOnlyParam": {
          "AllowEdit": true,
          "Value": false
        },
        "ShowPropertiesInlineParam": {
          "AllowEdit": true,
          "Value": false
        },
        "IsCollapsedViewSlimParam": {
          "AllowEdit": true,
          "Value": false
        },
        "UseSmartFilePathsParam": {
          "AllowEdit": true,
          "Value": true
        },
        "EnableActivityOnlineRecommendationsParam": {
          "AllowEdit": true,
          "Value": true
        },
        "EnableDiscoveredActivitiesParam": {
          "AllowEdit": true,
          "Value": true
        },
        "EnforceReleaseNotes": false,
        "DisplayLegacyFrameworkDeprecation": true,
        "AnalyzeOnPublishParam": {
          "AllowEdit": true,
          "Value": false
        },
        "PublishApplicationsMetadata": true,
        "AnalyzeOnPushParam": {
          "AllowEdit": true,
          "Value": false
        },
        "ExportAnalyzerResultsParam": {
          "AllowEdit": true,
          "Value": false
        },
        "AnalyzeOnRunParam": {
          "AllowEdit": true,
          "Value": false
        },
        "AnalyzeRpaXamlsOnlyParam": {
          "AllowEdit": true,
          "Value": false
        },
        "AdditionalAnalyzerRulePathParam": {
          "AllowEdit": true,
          "Value": null
        },
        "DefaultProjectFolderParam": {
          "AllowEdit": true,
          "Value": null
        },
        "DefaultProcessPublishUrlParam": {
          "AllowEdit": true,
          "Value": null
        },
        "DefaultLibraryPublishUrlParam": {
          "AllowEdit": true,
          "Value": null
        },
        "DefaultTemplatePublishUrlParam": {
          "AllowEdit": true,
          "Value": "C:\\Users\\Tycad\\OneDrive\\Documents\\UiPath\\.templates"
        },
        "DefaultPipTypeParam": {
          "Value": "ChildSession",
          "AllowEdit": true
        },
        "ModernBehaviorParam": {
          "AllowEdit": true,
          "Value": true
        },
        "SeparateRuntimeDependenciesParam": {
          "AllowEdit": true,
          "Value": true
        },
        "IncludeSourcesParam": {
          "AllowEdit": true,
          "Value": true
        },
        "ObjectRepositoryEnforcedParam": {
          "AllowEdit": true,
          "Value": false
        },
        "UseConnectionServiceParam": {
          "AllowEdit": true,
          "Value": false
        },
        "PlatformAutoUpdateIntervalDaysParam": {
          "AllowEdit": true,
          "Value": 7
        },
        "HideSequencesParam": {
          "AllowEdit": true,
          "Value": false
        },
        "AutoGenerateActivityOutputsParam": {
          "AllowEdit": true,
          "Value": true
        },
        "AllowedPublishFeeds": {
          "Custom": true,
          "PersonalWorkspace": true,
          "TenantPackages": true,
          "FolderPackages": true,
          "HostLibraries": true,
          "TenantLibraries": true,
          "Local": true
        }
      },
      "Core": {
        "AllowEdit": true,
        "ExperimentalFeaturesDictionary": {}
      },
      "Telemetry": {
        "TelemetryOptions": {
          "TelemetryOptionsDictonary": {
            "instrumentation-keys": ""
          }
        }
      },
      "ProjectCompiler": {
        "UseCompilerOptimizationsParam": {
          "AllowEdit": true,
          "Value": false
        }
      },
      "TemplatesManager": {
        "Feeds": [
          {
            "Name": "GettingStarted",
            "IsEnabled": true
          },
          {
            "Name": "Official",
            "IsEnabled": true
          },
          {
            "Name": "Marketplace",
            "IsEnabled": true
          }
        ]
      },
      "PackageManager": {
        "AllowAddRemoveFeeds": false,
        "AllowEnableDisableFeeds": false,
        "AllowOrchestratorFeeds": true,
        "Feeds": [
          {
            "Name": "Local",
            "Source": "C:\\Users\\Tycad\\AppData\\Local\\Programs\\UiPath\\Studio\\Packages",
            "IsEnabled": true
          },
          {
            "Name": "Official",
            "Source": "https://pkgs.dev.azure.com/uipath/Public.Feeds/_packaging/UiPath-Official/nuget/v3/index.json",
            "IsEnabled": true
          },
          {
            "Name": "Connect",
            "Source": "https://gallery.uipath.com/api/v3/index.json",
            "IsEnabled": true
          },
          {
            "Name": "nuget.org",
            "Source": "https://api.nuget.org/v3/index.json",
            "IsEnabled": true
          },
          {
            "Name": "IMadeThese",
            "Source": "C:\\Users\\Tycad\\OneDrive\\Documents\\TsunamiFlowPackages",
            "IsEnabled": true
          }
        ]
      },
      "ObjectBrowser": {
        "SendUiDescriptorsParam": {
          "AllowEdit": false,
          "Value": false
        }
      },
      "ActivitesManager": {
        "AllowShowDeveloper": true,
        "HiddenActivities": []
      },
      "Analyzer": {
        "AllowEdit": false,
        "ReferencedRulesConfigFile": null,
        "EmbeddedRulesConfig": {
          "Rules": [
            {
              "Id": "ST-NMG-009",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-NMG-008",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "Length",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-NMG-001",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "Regex",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "TA-DBP-003",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Info"
            },
            {
              "Id": "ST-ANA-006",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-ANA-005",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-USG-034",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-USG-032",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "RequiredTags",
                  "Value": null
                }
              ],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-USG-027",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "RequiredPackages",
                  "Value": null
                }
              ],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-USG-014",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "ProhibitedPackages",
                  "Value": null
                },
                {
                  "Name": "AllowedPackages",
                  "Value": null
                }
              ],
              "ErrorLevel": "Error"
            },
            {
              "Id": "TA-DBP-004",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "TA-DBP-002",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Info"
            },
            {
              "Id": "UI-PST-001",
              "IsEnabled": false,
              "Parameters": [
                {
                  "Name": "logLevel",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UI-ANA-018",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Info"
            },
            {
              "Id": "UI-ANA-016",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Info"
            },
            {
              "Id": "UI-ANA-017",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Info"
            },
            {
              "Id": "ST-USG-010",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UX-SEC-010",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "blacklistApps",
                  "Value": null
                },
                {
                  "Name": "whitelistApps",
                  "Value": null
                },
                {
                  "Name": "blacklistUrls",
                  "Value": null
                },
                {
                  "Name": "whitelistUrls",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UX-DBP-029",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UI-DBP-030",
              "IsEnabled": false,
              "Parameters": [],
              "ErrorLevel": "Error"
            },
            {
              "Id": "MA-DBP-028",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "XL-DBP-027",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UI-USG-011",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "nonAllowedAttributes",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UI-SEC-010",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "blacklistApps",
                  "Value": null
                },
                {
                  "Name": "whitelistApps",
                  "Value": null
                },
                {
                  "Name": "blacklistUrls",
                  "Value": null
                },
                {
                  "Name": "whitelistUrls",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UI-SEC-004",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UI-REL-001",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "idxValue",
                  "Value": null
                }
              ],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-DBP-021",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UI-DBP-013",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UI-PRR-004",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UI-PRR-003",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UI-PRR-002",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UI-PRR-001",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "SY-USG-013",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-MRD-017",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-REL-006",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-USG-005",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "IncludeActivities",
                  "Value": null
                },
                {
                  "Name": "ExcludeActivities",
                  "Value": null
                },
                {
                  "Name": "IncludeProperties",
                  "Value": null
                },
                {
                  "Name": "ExcludeProperties",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-MRD-002",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-DBP-020",
              "IsEnabled": false,
              "Parameters": [
                {
                  "Name": "Excluded",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-DBP-003",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Error"
            },
            {
              "Id": "TA-DBP-007",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "BranchesMaxCount",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "TA-DBP-006",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "ActivitiesMaxCount",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "TA-DBP-005",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "TA-NMG-002",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "RegEx",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "TA-DBP-001",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "VerificationsMinCount",
                  "Value": null
                },
                {
                  "Name": "VerificationsMaxCount",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "TA-NMG-001",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UI-DBP-006",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Error"
            },
            {
              "Id": "SY-USG-014",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-DBP-027",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-USG-020",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-SEC-008",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "VariableDepthUsage",
                  "Value": null
                }
              ],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-SEC-007",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-SEC-009",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "Excluded",
                  "Value": null
                }
              ],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-PRR-004",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-USG-028",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-USG-026",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "ProhibitedActivities",
                  "Value": null
                },
                {
                  "Name": "AllowedActivities",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-USG-009",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-MRD-009",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "Threshold",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-MRD-011",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-MRD-005",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-MRD-008",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-MRD-004",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-MRD-007",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "Threshold",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-DBP-026",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-DBP-024",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-DBP-028",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-DBP-025",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-DBP-023",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-DBP-007",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "LayersCount",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-DBP-002",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "ArgumentsCount",
                  "Value": null
                }
              ],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-NMG-016",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "Length",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-NMG-006",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-NMG-012",
              "IsEnabled": false,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-NMG-011",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-NMG-002",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "InRegex",
                  "Value": null
                },
                {
                  "Name": "OutRegex",
                  "Value": null
                },
                {
                  "Name": "InOutRegex",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-NMG-005",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-NMG-004",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "Threshold",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            }
          ],
          "Counters": [
            {
              "Id": "ST-ANA-009",
              "IsEnabled": true,
              "Parameters": []
            },
            {
              "Id": "ST-ANA-003",
              "IsEnabled": true,
              "Parameters": []
            }
          ]
        }
      }
    },
    "Business": {
      "Shell": {
        "IsFeedbackEnabled": true,
        "HideGettingStartedScreen": false,
        "RequireUserPublish": {
          "PermittedConsecutiveRuns": null,
          "DialogMessage": null,
          "LogToQueue": {
            "QueueName": null,
            "QueueFolder": null
          }
        }
      },
      "SourceControl": {
        "PublishSourceControlInfoParam": {
          "AllowEdit": true,
          "Value": null
        },
        "CheckInBeforePublishParam": {
          "AllowEdit": true,
          "Value": false
        },
        "RepositoriesConfigParam": {
          "AllowEdit": true,
          "Value": {
            "AllowSaveLocal": null,
            "AllowEditRepositories": null,
            "Repositories": [
              {
                "SourceControlType": 0,
                "Name": null,
                "Url": null,
                "DefaultFolder": null
              }
            ]
          }
        }
      },
      "Workflow": {
        "DefaultProjectLanguageParam": {
          "Value": "VisualBasic",
          "AllowEdit": true
        },
        "DefaultProjectFrameworkParam": {
          "Value": "Modern",
          "AllowEdit": true
        },
        "AllowedProjectFrameworks": {
          "Classic": true,
          "Modern": true,
          "CrossPlatform": true
        },
        "DockedAnnotationsParam": {
          "AllowEdit": true,
          "Value": true
        },
        "ShowDataManagerOnlyParam": {
          "AllowEdit": true,
          "Value": false
        },
        "ShowPropertiesInlineParam": {
          "AllowEdit": true,
          "Value": false
        },
        "IsCollapsedViewSlimParam": {
          "AllowEdit": true,
          "Value": false
        },
        "UseSmartFilePathsParam": {
          "AllowEdit": true,
          "Value": true
        },
        "EnableActivityOnlineRecommendationsParam": {
          "AllowEdit": true,
          "Value": true
        },
        "EnableDiscoveredActivitiesParam": {
          "AllowEdit": true,
          "Value": true
        },
        "EnforceReleaseNotes": false,
        "DisplayLegacyFrameworkDeprecation": true,
        "AnalyzeOnPublishParam": {
          "AllowEdit": true,
          "Value": false
        },
        "PublishApplicationsMetadata": true,
        "AnalyzeOnPushParam": {
          "AllowEdit": true,
          "Value": false
        },
        "ExportAnalyzerResultsParam": {
          "AllowEdit": true,
          "Value": false
        },
        "AnalyzeOnRunParam": {
          "AllowEdit": true,
          "Value": false
        },
        "AnalyzeRpaXamlsOnlyParam": {
          "AllowEdit": true,
          "Value": false
        },
        "AdditionalAnalyzerRulePathParam": {
          "AllowEdit": true,
          "Value": null
        },
        "DefaultProjectFolderParam": {
          "AllowEdit": true,
          "Value": null
        },
        "DefaultProcessPublishUrlParam": {
          "AllowEdit": true,
          "Value": null
        },
        "DefaultLibraryPublishUrlParam": {
          "AllowEdit": true,
          "Value": null
        },
        "DefaultTemplatePublishUrlParam": {
          "AllowEdit": true,
          "Value": "C:\\Users\\Tycad\\OneDrive\\Documents\\UiPath\\.templates"
        },
        "DefaultPipTypeParam": {
          "Value": "ChildSession",
          "AllowEdit": true
        },
        "ModernBehaviorParam": {
          "AllowEdit": true,
          "Value": true
        },
        "SeparateRuntimeDependenciesParam": {
          "AllowEdit": true,
          "Value": true
        },
        "IncludeSourcesParam": {
          "AllowEdit": true,
          "Value": true
        },
        "ObjectRepositoryEnforcedParam": {
          "AllowEdit": true,
          "Value": false
        },
        "UseConnectionServiceParam": {
          "AllowEdit": true,
          "Value": false
        },
        "PlatformAutoUpdateIntervalDaysParam": {
          "AllowEdit": true,
          "Value": 7
        },
        "HideSequencesParam": {
          "AllowEdit": true,
          "Value": false
        },
        "AutoGenerateActivityOutputsParam": {
          "AllowEdit": true,
          "Value": true
        },
        "AllowedPublishFeeds": {
          "Custom": true,
          "PersonalWorkspace": true,
          "TenantPackages": true,
          "FolderPackages": true,
          "HostLibraries": true,
          "TenantLibraries": true,
          "Local": true
        }
      },
      "Core": {
        "AllowEdit": true,
        "ExperimentalFeaturesDictionary": {}
      },
      "Telemetry": {
        "TelemetryOptions": {
          "TelemetryOptionsDictonary": {
            "instrumentation-keys": ""
          }
        }
      },
      "ProjectCompiler": {
        "UseCompilerOptimizationsParam": {
          "AllowEdit": true,
          "Value": false
        }
      },
      "TemplatesManager": {
        "Feeds": [
          {
            "Name": "GettingStarted",
            "IsEnabled": true
          },
          {
            "Name": "Official",
            "IsEnabled": true
          },
          {
            "Name": "Marketplace",
            "IsEnabled": true
          }
        ]
      },
      "PackageManager": {
        "AllowAddRemoveFeeds": false,
        "AllowEnableDisableFeeds": false,
        "AllowOrchestratorFeeds": true,
        "Feeds": [
          {
            "Name": "Local",
            "Source": "C:\\Users\\Tycad\\AppData\\Local\\Programs\\UiPath\\Studio\\Packages",
            "IsEnabled": true
          },
          {
            "Name": "Official",
            "Source": "https://pkgs.dev.azure.com/uipath/Public.Feeds/_packaging/UiPath-Official/nuget/v3/index.json",
            "IsEnabled": true
          },
          {
            "Name": "Connect",
            "Source": "https://gallery.uipath.com/api/v3/index.json",
            "IsEnabled": true
          },
          {
            "Name": "nuget.org",
            "Source": "https://api.nuget.org/v3/index.json",
            "IsEnabled": true
          },
          {
            "Name": "IMadeThese",
            "Source": "C:\\Users\\Tycad\\OneDrive\\Documents\\TsunamiFlowPackages",
            "IsEnabled": true
          }
        ]
      },
      "ObjectBrowser": {
        "SendUiDescriptorsParam": {
          "AllowEdit": false,
          "Value": false
        }
      },
      "ActivitesManager": {
        "AllowShowDeveloper": true,
        "HiddenActivities": []
      },
      "Analyzer": {
        "AllowEdit": false,
        "ReferencedRulesConfigFile": null,
        "EmbeddedRulesConfig": {
          "Rules": [
            {
              "Id": "ST-NMG-009",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-NMG-008",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "Length",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-NMG-001",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "Regex",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "TA-DBP-003",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Info"
            },
            {
              "Id": "ST-ANA-006",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-ANA-005",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-USG-034",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-USG-032",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "RequiredTags",
                  "Value": null
                }
              ],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-USG-027",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "RequiredPackages",
                  "Value": null
                }
              ],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-USG-014",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "ProhibitedPackages",
                  "Value": null
                },
                {
                  "Name": "AllowedPackages",
                  "Value": null
                }
              ],
              "ErrorLevel": "Error"
            },
            {
              "Id": "TA-DBP-004",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "TA-DBP-002",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Info"
            },
            {
              "Id": "UI-PST-001",
              "IsEnabled": false,
              "Parameters": [
                {
                  "Name": "logLevel",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UI-ANA-018",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Info"
            },
            {
              "Id": "UI-ANA-016",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Info"
            },
            {
              "Id": "UI-ANA-017",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Info"
            },
            {
              "Id": "ST-USG-010",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UX-SEC-010",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "blacklistApps",
                  "Value": null
                },
                {
                  "Name": "whitelistApps",
                  "Value": null
                },
                {
                  "Name": "blacklistUrls",
                  "Value": null
                },
                {
                  "Name": "whitelistUrls",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UX-DBP-029",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UI-DBP-030",
              "IsEnabled": false,
              "Parameters": [],
              "ErrorLevel": "Error"
            },
            {
              "Id": "MA-DBP-028",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "XL-DBP-027",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UI-USG-011",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "nonAllowedAttributes",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UI-SEC-010",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "blacklistApps",
                  "Value": null
                },
                {
                  "Name": "whitelistApps",
                  "Value": null
                },
                {
                  "Name": "blacklistUrls",
                  "Value": null
                },
                {
                  "Name": "whitelistUrls",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UI-SEC-004",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UI-REL-001",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "idxValue",
                  "Value": null
                }
              ],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-DBP-021",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UI-DBP-013",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UI-PRR-004",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UI-PRR-003",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UI-PRR-002",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UI-PRR-001",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "SY-USG-013",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-MRD-017",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-REL-006",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-USG-005",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "IncludeActivities",
                  "Value": null
                },
                {
                  "Name": "ExcludeActivities",
                  "Value": null
                },
                {
                  "Name": "IncludeProperties",
                  "Value": null
                },
                {
                  "Name": "ExcludeProperties",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-MRD-002",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-DBP-020",
              "IsEnabled": false,
              "Parameters": [
                {
                  "Name": "Excluded",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-DBP-003",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Error"
            },
            {
              "Id": "TA-DBP-007",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "BranchesMaxCount",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "TA-DBP-006",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "ActivitiesMaxCount",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "TA-DBP-005",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "TA-NMG-002",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "RegEx",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "TA-DBP-001",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "VerificationsMinCount",
                  "Value": null
                },
                {
                  "Name": "VerificationsMaxCount",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "TA-NMG-001",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "UI-DBP-006",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Error"
            },
            {
              "Id": "SY-USG-014",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-DBP-027",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-USG-020",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-SEC-008",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "VariableDepthUsage",
                  "Value": null
                }
              ],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-SEC-007",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-SEC-009",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "Excluded",
                  "Value": null
                }
              ],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-PRR-004",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-USG-028",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-USG-026",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "ProhibitedActivities",
                  "Value": null
                },
                {
                  "Name": "AllowedActivities",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-USG-009",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-MRD-009",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "Threshold",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-MRD-011",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-MRD-005",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-MRD-008",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-MRD-004",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-MRD-007",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "Threshold",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-DBP-026",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-DBP-024",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-DBP-028",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-DBP-025",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-DBP-023",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-DBP-007",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "LayersCount",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-DBP-002",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "ArgumentsCount",
                  "Value": null
                }
              ],
              "ErrorLevel": "Error"
            },
            {
              "Id": "ST-NMG-016",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "Length",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-NMG-006",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-NMG-012",
              "IsEnabled": false,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-NMG-011",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-NMG-002",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "InRegex",
                  "Value": null
                },
                {
                  "Name": "OutRegex",
                  "Value": null
                },
                {
                  "Name": "InOutRegex",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-NMG-005",
              "IsEnabled": true,
              "Parameters": [],
              "ErrorLevel": "Warning"
            },
            {
              "Id": "ST-NMG-004",
              "IsEnabled": true,
              "Parameters": [
                {
                  "Name": "Threshold",
                  "Value": null
                }
              ],
              "ErrorLevel": "Warning"
            }
          ],
          "Counters": [
            {
              "Id": "ST-ANA-009",
              "IsEnabled": true,
              "Parameters": []
            },
            {
              "Id": "ST-ANA-003",
              "IsEnabled": true,
              "Parameters": []
            }
          ]
        }
      }
    }
  }
}